* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.container {
  max-width: 1200px;
  padding: 2rem 1.25rem;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  align-items: center;
  border: 2px solid black;
  border-radius: 0.6rem;
}

.free-space {
  flex: 1;
  padding: 1rem;
}

.popup-trigger {
  cursor: pointer;
  border: 2px solid black;
  width: 2rem;
  height: 2rem;
  position: relative;
  border-radius: 50%;
}

.popup-trigger i {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  padding: 1rem;
  border-radius: 0.6rem;
}

.popup input,
.popup button {
  text-align: center;
  display: block;
  width: 100%;
  padding: 0.4rem;
  border: 2px solid black;
  border-radius: 0.4rem;
}

.popup button {
  background: black;
  color: white;
  cursor: pointer;
  margin-top: 0.3rem;
}
